<!DOCTYPE html>
<html lang="es">
<head>
    <title>Torneo</title>
    <h1><p style="text-align:center">Ventana Torneo</p></h1>
</head>
<body>
    <div id="Fondo">
    <nav>
        <div id="BarraMenu">
    {%include "barra.html"%}    
        </div>
    </nav>
        <section>
            <h2>Equipos Participantes</h2>
            <ul id="Participantes">
                {% for x in equipos  %} 
                <li>{{x}}</li>
                {% endfor %}
            </ul>
            <div id="Cuartos">
                <h2>
                Cuatos de Final:
                </h2>
                    <p>{{equipos|random}}  -  {{equipos|random}}</p>
                    <h3>{{equipos|random}} 2 - 1 {{equipos|random}}</h3>
                    <h3>{{equipos|random}} 5 - 0 {{equipos|random}}</h3>
                    <h3>{{equipos|random}} 1 - 0 {{equipos|random}}</h3>
                    {{random}}
            </div>
            <div id="Semis">
                <h2>
                SemiFinal:
                </h2>
                <h3><p>{{equipos|random}}  1- 0 {{equipos|random}}</p></h3>
                <h3>{{equipos|random}} 2- 0 {{equipos|random}}</h3>
            </div>
            <div id="Final" ">
                <h2>
                    Final:
                </h2>
                    <h3>{{equipos|random}} 1 - 0 {{equipos|random}}</h3>
            </div> 
        </section>
    <footer ><div id="Derechos"> @kevin Oyarse</div></footer>
    </div>
</body>
</html>
    
    
